body {
  margin: 0;
  padding: 0;
  color: black;
  background: #fff5ee;
  font-family: Verdana, sans-serif;
}

h2,
h3 {
  margin-top: 0;
}

/* main layout */
header {
  background: #90ee90;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  color: black;
  align-items: center;
}

header .logo {
  width: 8rem;
  height: 5rem;
  margin: 1rem 3rem 1rem 1rem;
}

.search {
  flex-grow: 1;
  align-items: stretch;
}

.search input {
  width: 80%;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
  padding-right: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: stretch;
  font-size: 1.2rem;
  margin: 0;
  flex-direction: row;
}

nav ul li {
  padding: 0 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul li.active {
  background: rgba(255, 255, 255, 0.4);
}

nav ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* Side bar Links*/

.sidebar {
  margin: 1rem;
  padding: 1rem;
  background: white;
  min-width: 15rem;
}

.links {
  padding-left: 28%;
}

aside ul {
  display: flex;
  list-style: none;
  /*padding-top: 0;*/
  align-items: stretch;
  font-size: 1rem;
  margin: 0;
  flex-direction: column;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

aside ul li {
  margin: 5px 5px 5px 0px;
  padding: 1.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  border: green solid;
  border-width: 10px;
  background-color: #e0ffff;
}

aside ul li.active {
  background: rgba(255, 255, 255, 0.4);
}

aside ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}

aside ul li a {
  text-decoration: none;
  color: black;
}

/* Side bar Friends */

.friends {
  padding: 1rem;
  margin: 1rem;
  min-width: 15rem;
  background: white;
}

.signFriends {
  padding-left: 23%;
}

.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

.status {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1rem;
  margin: 0 3px;
}

.status.online {
  background: green;
}

.status.offline {
  background: red;
}

.friends ul {
  list-style: none;
  padding-left: 0;
}

.friends ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.friends .user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

main {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

/*post adding*/

.addpost {
  background: white;
  padding: 1rem;
  margin: 1rem;
}

.addpost .field {
  margin-bottom: 0.8rem;
}

.addpost .field input,
.addpost .field textarea {
  display: inline-block;
  width: 90%;
}

/*prispevky*/

.avatar-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
}

button.like {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-heigth: 50px;
  border-radius: 50%;
  color: rgba(0, 150, 136, 1);
  background-color: rgba(38, 166, 154, 0.3);
  border-color: rgba(0, 150, 136, 1);
  border-width: 1px;
  font-size: 15px;
}

button.dislike {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-heigth: 50px;
  border-radius: 50%;
  color: rgba(255, 82, 82, 1);
  background-color: rgba(255, 138, 128, 0.3);
  border-color: rgba(255, 82, 82, 1);
  border-width: 1px;
  font-size: 15px;
}

.card-text {
  text-align: justify;
}

.timeline {
  flex-grow: 1;
}

/* z-index aby bolo vzadu za nav barom */

.card {
  z-index: -1;
  margin: 1rem;
}

.important {
  margin: 1rem;
  z-index: -1;
}

.card-footertext-muted {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/*footer*/

footer {
  background: #f5f5f5;
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
}
